{% extends "layout.html" %}

{% block content %}
        <h1>Trivia Generator--3 Random trivia pieces at a time</h1>
<form method = "post" action = "/genreChoose2">
		<table>
		       <tr><td>What genre of trivia would you like to see?</td><td> 
					
					<select name="genreT">
					<option>historical</option>
					<option>boring</option>
					<option>humorous</option>
					<option>sexual</option>
          <option>wtf</option>
					</select></td></tr>
					
					<tr><td>&nbsp;</td><td><input type="submit" value="Get yer Trivia!" /></td></tr>
					</table>
					
					</form>
{% endblock %}
