{% extends "layout.html" %}

{% block content %}
<h1>UMW Funny Trivia  Research Centre </h1>
<p>Welcome to the Funny Trivia Research Centre at the 
  <a href="http://umw.edu">University of Mary Washington</a></p>
  
<!--This is a comment--!>
					
					<img src="http://gbatemp.net/attachments/i-accidentally-read-the-first-line-as-quot-be-about-6-_4112f46bda6d68946f3a3b905b1a8c75-png.3383/" />
        <p>Laughter heard by the <strong>UMW Research Team</strong> near <strong>Brazil</strong></p>
        <p>You can get your hue's by clicking the tab above!</p>

{% endblock %}
