{% extends "layout.html" %}

{% block content %}
        <h1>Submit trivia</h1>
<form method = "post" action = "/meme">
					<table>
    <tr><td>Meme Image URL:</td><td><input type = "text" id="url" name = "url" /></td></tr>
    <tr><td>Day found:</td><td><input type = "text" id="date" name = "day" /></td></tr>
    <tr><td>Month found:</td><td><input type = "text" id="month" name = "month" /></td></tr>
    <tr><td>Year found:</td><td><input type = "text" id="year" name = "year" /></td></tr>
    <tr><td>Description:</td><td><input type = "text" id="about" name = "about" /></td></tr>
					</table>
					
					</form>
{% endblock %}
   