{% extends "layout.html" %}

{% block content %}
        <h1>Submit trivia</h1>
<form method = "post" action = "/meme">
					<table>
    <tr><td>Meme Image URL:</td><td><input type = "text" id="url" name = "url" /></td></tr>
    <tr><td>Description:</td><td><input type = "text" id="about" name = "about" /></td></tr>
    <tr><td>Genre:</td><td><select name="genre">
					<option>Historical</option>                                                                                                    
                                        <option>Boring</option>                                                                                              
                                        <option>Humorous</option>                                                                                            
                                        <option>Sexual</option>                                                                                              
                                        <option>WTF</option>                                                                                                 
                                        </select></td></tr>   
<tr><td>&nbsp;</td><td><input type="submit" value="Submit Meme" /></td></tr>
  </table>
					
					</form>
{% endblock %}
   
