{% extends "layout.html" %}

{% block content %}
        <h1>Submit a saying</h1>
<form method = "post" action = "/saying">
					<table>
           <tr><td>Saying: </td><td><input type="text" id="saying" name="saying" /></td></tr>
           <tr><td>Author: </td><td><input type="text" id="author" name="author" /></td></tr>
	   <tr><td>Genre:  </td><td><select name="genre">  
					<option>Historical</option>                                                                                                  
                                        <option>Boring</option>                                                                                              
                                        <option>Humorous</option>                                                                                            
                                        <option>Sexual</option>                                                                                              
                                        <option>WTF</option>                                                                                                 
                                        </select></td>    
					<tr><td>&nbsp;</td><td><input type="submit" value="Submit Saying" /></td></tr>
					</table>
					
					</form>
{% endblock %}
