{% extends "layout.html" %}

{% block content %}
        <h1>Submit trivia</h1>
<form method = "post" action = "/triviaS">
					<table>
           <tr><td>Trivia: </td><td><input type="text" id="trivia" name="trivia" /></td></tr>
	   <tr><td>Genre:   </td><td><select name="genre">  
					<option>Historical</option>                                                                                                  
                                        <option>Boring</option>                                                                                              
                                        <option>Humorous</option>                                                                                            
                                        <option>Sexual</option>                                                                                              
                                        <option>WTF</option>                                                                                                 
                                        </select></td>   
					<tr><td>&nbsp;</td><td><input type="submit" value="Submit Trivia" /></td></tr>
					</table>
					
					</form>
{% endblock %}
